<nav class="navbar navbar-expand-md navbar-light container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>{{getData.title}}</h1>
            <p class="text-muted">{{getData.desc}}</p>
            <p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Download my resume</a>
                <a class="btn btn-danger btn-lg" href="#" role="button">Learn more</a>
            </p>

        </div>
    </div>

    <section id="skills">
        <div class="container">
            <!-- Example row of columns -->
            <div class="row shadow-md bg-white rounded languages" id="language">
                <div class="col-md-12">
                    <h2 class="text-center mb-4">Skills</h2>
                    <hr class="bottom-line">
                </div>
                <div class="col-md-12">
                    <ul class="list-inline dev-icons text-center">
                        <li class="list-inline-item shadow">
                            <i class="fab fa-html5"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-css3-alt"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-js-square"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-angular"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-react"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-node-js"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-sass"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-less"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-wordpress"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-gulp"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-grunt"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-node-js"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-sass"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-less"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-wordpress"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-gulp"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-grunt"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-npm"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-npm"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-html5"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-css3-alt"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-js-square"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-angular"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-react"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-node-js"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-sass"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-less"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-wordpress"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-gulp"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-grunt"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fab fa-npm"></i>
                        </li>
                    </ul>

                </div>


            </div>


        </div> <!-- /container -->
    </section>
    <section id="experience" style="background-color: var(--color-primary);">
        <div class="container">
            <!-- Example row of columns -->
            <div class="row shadow-md  rounded languages" id="language">
                <div class="col-md-12">
                    <h2 class="text-center mb-4 text-light">Profesional Experience</h2>
                    <hr class="bottom-line border-white">
                </div>
                <div class="col-12 col-sm-6 col-lg-4 my-3 ">
                    <div class="card">
                        <div class="card-header">
                            City Breaks
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Bologna</h4>
                            <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
                            <p class="card-text">It is the seventh most populous city in Italy, at the heart of a
                                metropolitan area of about one million people. </p>
                            <a href="#" class="btn btn-danger">Get Deal</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 my-3">
                    <div class="card">
                        <div class="card-header">
                            City Breaks
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Bologna</h4>
                            <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
                            <p class="card-text">It is the seventh most populous city in Italy, at the heart of a
                                metropolitan area of about one million people. </p>
                            <a href="#" class="btn btn-danger">Get Deal</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 my-3">
                    <div class="card">
                        <div class="card-header">
                            City Breaks
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Bologna</h4>
                            <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
                            <p class="card-text">It is the seventh most populous city in Italy, at the heart of a
                                metropolitan area of about one million people. </p>
                            <a href="#" class="btn btn-danger">Get Deal</a>
                        </div>
                    </div>
                </div>
                  <div class="col-12 col-sm-6 col-lg-4 my-3">
                    <div class="card">
                        <div class="card-header">
                            City Breaks
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Bologna</h4>
                            <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
                            <p class="card-text">It is the seventh most populous city in Italy, at the heart of a
                                metropolitan area of about one million people. </p>
                            <a href="#" class="btn btn-danger">Get Deal</a>
                        </div>
                    </div>
                </div>
                 <div class="col-12 col-sm-6 col-lg-4 my-3">
                    <div class="card">
                        <div class="card-header">
                            City Breaks
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Bologna</h4>
                            <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
                            <p class="card-text">It is the seventh most populous city in Italy, at the heart of a
                                metropolitan area of about one million people. </p>
                            <a href="#" class="btn btn-danger">Get Deal</a>
                        </div>
                    </div>
                </div>
            </div>
             <!-- Example row of columns -->
            <div class="row shadow-md  rounded languages" id="language">
                <div class="col-md-12">
                    <h2 class="text-center mb-4 text-light">Intership Experience</h2>
                    <hr class="bottom-line border-white">
                </div>
                <div class="col-12 col-sm-6 col-lg-4 my-3 ">
                    <div class="card">
                        <div class="card-header">
                            City Breaks
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Bologna</h4>
                            <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
                            <p class="card-text">It is the seventh most populous city in Italy, at the heart of a
                                metropolitan area of about one million people. </p>
                            <a href="#" class="btn btn-danger">Get Deal</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 my-3">
                    <div class="card">
                        <div class="card-header">
                            City Breaks
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Bologna</h4>
                            <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
                            <p class="card-text">It is the seventh most populous city in Italy, at the heart of a
                                metropolitan area of about one million people. </p>
                            <a href="#" class="btn btn-danger">Get Deal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </section>

        <section id="eduvation">
        <div class="container">
            <!-- Example row of columns -->
            <div class="row shadow-md  rounded languages" id="language">
                <div class="col-md-12">
                    <h2 class="text-center mb-4">Education</h2>
                    <hr class="bottom-line">
                </div>
                <div class="col-12 col-sm-6 col-lg-4 my-3 ">
                    <div class="card shadow">
                        <div class="card-header">
                            City Breaks
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Bologna</h4>
                            <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
                            <p class="card-text">It is the seventh most populous city in Italy, at the heart of a
                                metropolitan area of about one million people. </p>
                            <a href="#" class="btn btn-danger">Get Deal</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 my-3">
                    <div class="card shadow">
                        <div class="card-header">
                            City Breaks
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Bologna</h4>
                            <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
                            <p class="card-text">It is the seventh most populous city in Italy, at the heart of a
                                metropolitan area of about one million people. </p>
                            <a href="#" class="btn btn-danger">Get Deal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </section>
</main>

<footer class="container">
    <p>footer</p>
</footer>

{{!-- <header>
    <nav class="navbar">
  <a href="#" id="logo">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</header>

<section id="hero1" class="hero">
  <div class="inner">
    <div class="copy">
    <h1>Choice mountains bro</h1>
    <p>Its like im actually there! But sitting at a computer. Wow, the future is intense!</p>
    </div>
  </div>
</section>

<section class="content">
  <div class="inner">
    <div class="copy">
    <h1>Amazing copy!</h1>
    <p>The words are like jumping out at me man! </p>
    </div>
  </div>
</section>

<section id="hero2" class="hero">
  <div class="inner">
    <div class="copy">
    <h1>Dem some big ass caves</h1>
    <p>You could probably fit in there ;)</p>
    </div>
  </div>
</section>
  
<section class="content">
  <div class="inner">
    <div class="copy">
    <h1>An inspiring quote</h1>
      <p>/-- file not found --/</p>
    </div>
  </div>
</section> --}}